[Desktop Entry]
X-SuSE-translate=true
Name=openBibleViewer
Exec=openBibleViewer %u
GenericName=Bible Study Tool
GenericName[en]=Bible Study Tool
GenericName[de]=Bibelstudium
Terminal=false
Type=Application
Icon=openBibleViewer
Categories=Education;Teaching;
StartupNotify=true
Comment=An easy to use bible study tool