
.verse {
	color:#ff0000;
}
.verseNumber {
	font-style: italic;
}
.currentVerseClass {
	font-weight: bold;
}
.biblelisttitle {
    font-size:12px;
}
.biblelisttitle a:link, a:visited, a:active {
    color:#000000;
}
.biblelisttitle a:hover {
    color:#00AAFF;
}
.biblelist td[class~=active] a:link, a:visited, a:active {
    color:#00AAFF;
}
.biblelist td[class~=active] a:hover {
    color:#C1FF64;
}
.biblelist {
    padding-top:30px;
    table-layout:fixed;
    width:100%;
}
#topTable {
    table-layout:fixed;
    position:fixed;
    width:100%;
    background:rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(68,69,68,0.6);

}
#topTable th{
    text-align:center; 
    border: 1px solid #000000;

}