
.verse {
	color:#ff0000;
}
.verseNumber {
	font-style: italic;
    position: relative;
    top: -0.2em;
    font-weight: bold;
    font-size: 60%;
    vertical-align: top;
    color:#235380;
}
.currentVerseClass {
	font-weight: bold;
}
.biblelisttitle {
}
.biblelisttitle a:link, a:visited, a:active{
    color:#000000;
}
.biblelisttitle a:hover {
    color:#00AAFF;
    text-shadow: 1px 1px 0px #fff;
}
.biblelist td[class~=active] a:link, a:visited, a:active, #topTable td[class~=active] a:link, a:visited, a:active{
    color:#00AAFF;
}
.biblelist td[class~=active] a:hover, #topTable td[class~=active] a:hover  {
    color:#C1FF64;
    text-shadow: 1px 1px 0px #fff;
}
.biblelist td {
    width:100%;
}
.biblelist {
    padding-top:25px;
    table-layout:fixed;
    width:100%;
}
#topTable {
    table-layout:fixed;
    position:fixed;
    width:100%;
    background:rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(68,69,68,0.6);

}
#topTable td{
    text-align:center; 
    border: 1px solid #000000;

}
td.rowTitle {
    width:5em;
}