html {
    background-color:#ffffff;
    color:#000000;
}

.verseTableTitle a:link, a:visited, a:active{
    color:#000000;
}
.verseTableTitle a:hover {
    color:#0080AF;
    text-shadow: 1px 1px 0px #fff;
}
.verseTable td[class~=active] a:link, a:visited, a:active, #topTable td[class~=active] a:link, a:visited, a:active{
    color:#0080AF;
}
.verseTable td[class~=active] a:hover, #topTable td[class~=active] a:hover  {
    color:#0080AF;
    text-shadow: 1px 1px 0px #fff;
}
.verseTable td {
    width:100%;
}
.verseTable {
    padding-top:2.5em;
    table-layout:fixed;
    width:100%;
}
#topTable {
    table-layout:fixed;
    position:fixed;
    width:100%;
    background:rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(68,69,68,0.6);
}
#topTable td{
    text-align:center; 
    border: 1px solid #000000;
}
td.rowTitle {
    width:5em;
}
.selectedEntry {
    font-weight:bold;
}

.gramlink {
    font-size: 70%;
    vertical-align: super;
}
.gramlink:after {
    content: "  ";
}
.gramlink a{
    color:#323232;
    text-decoration:none;
}
.gramlink a:hover{
    color:#0080AF;
    text-decoration:underline;
}
.crossreference {
    font-size: 80%;
    color: blue;
}
.crossreference:before {
    content: " [";
}
.crossreference:after {
    content: "] ";
}
.crossreference a{
    color: blue;
}
.crossreference a:hover{
    color: green;
}

.studynote:before {
    content: "(";
}
.studynote:after {
    content: ")";
}
.studynote {
    font-size: small;
    color:#420F00;
}
.verseNumber {
    color:#014B88;
    font-size: smaller;
    vertical-align: super;
}
.verseNumber:after {
    content: " ";
}
.rangeTitle {
    font-size: 110%;
    display: block;
    padding-top:2em;
    padding-bottom:2em;
}
td .rangeTitle {
    text-align: center;
}
