$background-color: #ffffff;
$text-color: #000000;

$link-color: #002B70;
$link-color-hover: #0080AF;


$rmac-link: #921B1B;
$rmac-link-hover: #E42B2B;

$crossreference-color: blue;
$versenumber-color: #014B88;

$selectedverse-background: #E1E9FF;
$selectedverse-text:  $text-color;

@import "bare";